**/.idea/
.bak/
.git/
.github/
.npmignore
**/node_modules/

test*.js
*.apk
*.zip
desktop.ini

/declarations/ant-forest/

/declarations/autojs6/aj6-mod-*.d.ts
/declarations/autojs6/aj6-plugin-*.d.ts
/declarations/ant-forest.d.ts