test*.js
*.apk
*.zip
/.bak
/.git
/.github
/.idea
/declarations/auto.js/auto.js-ext*.d.ts
/declarations/auto.js/auto.js-mod*.d.ts
/declarations/auto.js/auto.js-plugin*.d.ts
/declarations/auto.js-ext.d.ts
/declarations/collections
/declarations/collections.d.ts